.main-content {
  display: grid;
  // grid-template-columns: repeat(1fr 1fr 1fr);
}

.input-wrapper {
  display: flex;
  // gap: 1rem;
}

.input-search {
  // display: block;
  width: 100vw;
  border: 1px solid var(--light-color);
  border-radius: 0.2rem;
  padding: 12px 20px;
  background: var(--dark-color);
  color: var(--dark-color);
  font-weight: 400;
  font-size: 0.8rem;
}

//   a {
//     color: var(--primary-color);

//     &:hover {
//       color: var(--primary-color-dark);
//     }
//   }
