.main-content {
  margin: 1rem;
}

.input-wrapper {
  display: flex;
}

.input-search {
  width: calc(100vw - 1rem);
  border: 1px solid var(--light-color);
  border-radius: 0.2rem;
  padding: 12px 20px;
  background: var(--dark-color);
  color: var(--dark-color);
  font-weight: 400;
  font-size: 0.8rem;
}
