@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src:
    local('JetBrains Mono Regular'),
    local('JetBrainsMono-Regular'),
    url('../public/assets/fonts/JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src:
    local('JetBrains Mono Bold'),
    local('JetBrainsMono-Bold'),
    url('../public/assets/fonts/JetBrainsMono-Bold.woff') format('woff');
}

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #af7fff;
  --primary-color-light: #d3b7ff;
}

html {
  font-size: 1rem;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
button,
a {
  font-family: inherit;
  cursor: pointer;

  outline: none;
}

input,
div {
  box-sizing: border-box;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  background: var(--dark-color);
  color: var(--light-color);

  box-sizing: border-box;
}

.error {
  display: flex;
  justify-content: center;

  padding: 2rem;
  color: var(--light-color);
}
