.profileCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid var(--light-color);
  grid-gap: 2rem;
  padding: 2rem 1.5rem;

  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__repo {
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    word-break: break-all;
  }

  &__owner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }


  &__link {
    color: var(--light-color);
    word-break:break-all;

    transition: color 0.2ms ease;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__icons {
    display: flex;
    gap: 10px; 
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    gap: 5px; 
    padding-left: 20px; 
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__star {
    background-image: url('../../assets/icons/star.svg'); 
  }

  &__fork {
    background-image: url('../../assets/icons/fork.svg'); 
    }
  
}

.avatarName {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &__title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.btn {
  border: none;
  background: var(--primary-color);
  line-height: 1.6rem;
  color: var(--dark-color);
  padding: 0.8rem 1.2rem;
  font-weight: 700;
  line-height: 1.6rem;
}

.avatarSubtitle {
  font-size: 0.8rem;
  font-weight: 400;
}
